{% extends "layout.html" %}
{% block body %}

<script>
    function complete_checkbox(id) {
        document.getElementById(id).submit()
        return true;
    }
</script>

  <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
    <dl>
      <dt>Title:
      <dd><input type="text" size="30" name="title">
      <dt>Text:
      <dd><textarea name="text" rows="5" cols="40"></textarea>
      <dd><input type="submit" value="Share">
    </dl>
  </form>
  <ul class="entries">
  <form action="{{ url_for('show_entries') }}" method="get">
    <label>
        <input type="radio" name="filter" value="incomplete">
        Incomplete
    </label>
    <label>
        <input type="radio" name="filter" value="complete">
        Complete
    </label>
    <label>
        <input type="radio" name="filter" value="oldest">
        Oldest
    </label>
    <button type="submit">Filter by</button>
  </form>
  {% for entry in entries %}
      <li><h2>
        <form action="{{ url_for('new_complete') }}" method="post" id="new-complete-{{ entry.id }}">
            <input name="id" value="{{ entry.id }}" type=hidden>
            <input type="checkbox" name="complete" onclick="complete_checkbox('new-complete-{{ entry.id }}')" {% if entry.complete == 'complete' %}checked{% endif %}>
        </form>

          {{ entry.title }} </h2>
          <h4>{{ entry.complete }}</h4>
          <h5>Last Updated {{ entry.timestamp }}</h5>
        <div>
          <p>{{ entry.text|safe }}</p>
        </div>

        <form action="{{ url_for('new_redir') }}" method="get" class="new_redir">
            <button value="update" type="submit">Update</button>
            <input name="id" value="{{ entry.id }}" type="hidden">
        </form>


        <form action="{{ url_for('delete_entry') }}" method="post" class="delete-entry">
            <button value="delete" type="submit">Delete</button>
            <input name="id" value="{{ entry.id }}" type=hidden>
        </form>
      </li>
      <br>

  {% else %}
    <li><em>Unbelievable.  No entries here so far</em></li>
  {% endfor %}
  </ul>
{% endblock %}